<h2><a href="/pokemon">All Pokemon</a>
  <div class="pokemon">
    <p>Pokemon Name: <%= @pokemon.name %></p>
    <p>Pokemon CP: <%= @pokemon.cp %></p>
    <p>Pokemon Type: <%= @pokemon.poke_type %></p>
    <img class="pokemon" src='<%= @pokemon.img_url %>'
