<html>
  <head>
    <title>Pokenatra</title>
    <link rel="stylesheet" href="/css/pokestyle.css">
  </head>
  <body>
    <h1>Pokemon</h1>
    <nav>
      <a href="models/pokemon">Pokemon</a>
    </nav>
    <%= yield %>
  </body>
</html>
